<% content_for :title, "Your Cart" %>

<div class="container">
  <h1 class="text-white">Your Cart</h1>

  <% if session[:shopping_cart].empty? %>
    <p>Your cart is empty.</p>
  <% else %>
    <table class="table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Total</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% session[:shopping_cart].each do |id, details| %>
          <tr>
            <td><%= details['title'] %></td>
            <td>
            <%= form_tag(cart_update_path(id), method: :patch) do %>
              <%= number_field_tag "quantity[#{id}]", details['quantity'], class: 'form-control' %>
              <%= submit_tag 'Update', class: 'btn btn-primary btn-sm' %>
            <% end %>
            </td>
            <td>$<%= details['price'] %></td>
            <td>$<%= number_with_precision(details['quantity'].to_i * details['price'].to_f, precision: 2) %></td>
            <td>
              <%= button_to 'Remove', cart_path(id), method: :delete, class: 'btn btn-danger btn-sm' %>
            </td>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="4" class="text-end"><strong>Total:</strong></td>
          <td>$<%= number_with_precision(session[:shopping_cart].sum { |_, details| details['quantity'].to_i * details['price'].to_f }, precision: 2) %></td>
        </tr>
      </tfoot>
    </table>
  <% end %>
  <%= link_to 'Continue Shopping', root_path, class: 'text-decoration-none text-white btn btn-primary' %>
  <%= button_to 'Checkout', checkout_path, method: :get, class: 'btn btn-primary' %>
</div>
