<nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
  <div class="container mt-4 mb-4">

    <%= link_to "JK Games", root_path, class: "navbar-brand text-white", style: "font-size: 34px;" %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">

        <li class="nav-item">
          <%= link_to "Home", root_path, class: "nav-link text-white", style: "font-size: 18px;" %>
        </li>

        <!-- replace the "#" with the path when it is created -->
        <li class="nav-item">
          <%= link_to "PS4", "#", class: "nav-link text-white", style: "font-size: 18px;" %>
        </li>

        <!-- replace the "#" with the path when it is created -->
        <li class="nav-item">
          <%= link_to "NSW", "#", class: "nav-link text-white", style: "font-size: 18px;" %>
        </li>

        <!-- replace the "#" with the path when it is created -->
        <li class="nav-item">
          <%= link_to "XB1", "#", class: "nav-link text-white", style: "font-size: 18px;" %>
        </li>

        <!-- replace the "#" with the path when it is created -->
        <li class="nav-item">
          <%= link_to "XBX", "#", class: "nav-link text-white", style: "font-size: 18px;" %>
        </li>

        <li class="nav-item">
          <%= link_to "About", about_path, class: "nav-link text-white", style: "font-size: 18px;" %>
        </li>

        <!-- replace the "#" with the path when it is created -->
        <li class="nav-item">
          <%= link_to "Contact", contact_path, class: "nav-link text-white", style: "font-size: 18px;" %>
        </li>
      </ul>
    </div>
  </div>
</nav>
